# ----------------------------
# Настройки Kafka
# ----------------------------

# Внешний порт Kafka, через который клиенты подключаются снаружи контейнера
KAFKA_EXTERNAL_PORT=${CORE_KAFKA_EXTERNAL_PORT}

# Внутренний порт Kafka, который используется внутри docker-сети
KAFKA_INTERNAL_PORT=${CORE_KAFKA_INTERNAL_PORT}

# Порт контроллера Kafka (используется при работе в режиме KRaft)
KAFKA_CONTROLLER_PORT=${CORE_KAFKA_CONTROLLER_PORT}

# Порт для веб-интерфейса Kafka UI (например, Kafdrop, Redpanda Console)
KAFKA_UI_PORT=${CORE_KAFKA_UI_PORT}

# ----------------------------
# Настройки OpenTelemetry Collector
# ----------------------------

# OTLP gRPC порт для приема логов от приложений
OTEL_GRPC_PORT=${CORE_OTEL_GRPC_PORT}

# OTLP HTTP порт для приема логов от приложений
OTEL_HTTP_PORT=${CORE_OTEL_HTTP_PORT}

# ----------------------------
# Настройки Elasticsearch
# ----------------------------

# Порт Elasticsearch для хранения логов
ELASTICSEARCH_PORT=${CORE_ELASTICSEARCH_PORT}

# ----------------------------
# Настройки Kibana
# ----------------------------

# Порт Kibana для визуализации логов
KIBANA_PORT=${CORE_KIBANA_PORT}
