🎉 <b>Заказ оплачен!</b>

📋 <b>Детали заказа:</b>
• ID заказа: <code>{{.OrderUUID}}</code>
• ID пользователя: <code>{{.UserUUID}}</code>
• Способ оплаты: {{.PaymentMethod}}
• ID транзакции: <code>{{.TransactionUUID}}</code>

⏳ Начинаем сборку корабля...
